.face {
    height: 45px;
    display: grid;
    grid-template-columns: auto 21px;
}

.body-input {
    height: 45px;
    font-size: 36px;
    padding-left: 10px;
}

.editsymbol {
    margin: 3px;
    align-self: flex-end;
}