#dragon-logo {
    padding: 0px 5px;
}

.face {
    display: grid;
    grid-template-columns: auto 45px;
    grid-template-rows: auto auto 20px;
    grid-template-areas: "card-header date" "card-body card-body" "minMax edit";
    grid-gap: 3px 3px;
    padding: 5px;
}

.header-input {
    font-size: 30px;
    min-width: 10px;
    height: 40px;
}

.date {
    font-size: 9px;
    justify-self: end;
    margin: 0px;
}

.body-input {
    grid-area: card-body;
    height: 150px;
    resize: none;
    font-size: 15px;
    overflow: hidden;
}

.minimizer {
    font-size: 12px;
    align-self: flex-end;
}

.editsymbol {
    align-self: flex-end;
    justify-self: end;
}